*{
    margin: 0;
    padding: 0;
}
#logo{
    font-size: xx-large;
    font-weight: bold;
    color: white;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    position: relative;
}
#logo::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    position: absolute;
    height: 15vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#caption{
    float: right !important;
    font-style: italic;
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container::before{
    content: "";
    position: absolute;
    height: 125vh;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1580519542036-c47de6196ba5?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    z-index: -1;
    opacity: 0.7;
}
#balance-box{
    margin: 70px;
    padding: 20px;
    box-shadow: 10px 10px 20px black;
    font-family: "Kode Mono", monospace;
}
#balanceContent{
    display: flex;
    margin: 10px;
}
.balanceElement{
    margin: 20px;
    padding: 10px;
}
#main-content{
    display: flex;
}
.main-contentColumns{
    border: 7px solid black;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
}
.main-contentColumns h1{
    font-family: "Kode Mono", monospace;
}
.main-contentColumns ul li{
    list-style: none;
    margin: 20px;
}
#expensesTab{
    text-align: center;
    float: left;
    margin-right: 200px;
}
#addItem{
    font-family: "Roboto Slab", serif;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
}

#table {
    margin: 0 auto; 
    text-align: center; 
    font-family: "Roboto Slab", serif;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
}
#type{
    width: 100px;
    background-color: greenyellow;
    border-radius: 10px;
    height: 30px;
    font-family: "Roboto Slab", serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
#addButton{
    width: 100px;
    font-size: larger;
    background-color: greenyellow;
    border-radius: 10px;
    padding: 5px;
    transition-duration: 0.5s;
}
#addButton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.deleteimg:hover {
    filter: brightness(85%); 
    cursor: pointer; 
}
