
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
}

/* Header styles */
#main-header {
    padding: 20px;
    text-align: center;
}

.site-title {
    font-size: 106px;
    margin-bottom: 10px;
}
/* Links styles */
a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease; 
}

a:hover {
    color: #00a2ff; 
}

.tagline {
    font-size: 16px;
}

.intro-text {
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

/* Grid container styles */
.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Grid item styles */
.grid-item {
    text-align: center;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
    transition: transform 0.3s ease;
}
.grid-item:hover {
    transform: translateY(-5px); 
}

/* Tracker icon styles */
.tracker-icon {
    display: block;
    margin: 0 auto;
}

/* Tracker name styles */
.tracker-name {
    margin-top: 5px;
}

/* Footer styles */
#main-footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    opacity: 0; 
    transition: opacity 1s ease-in-out;
}
/* erase effect div  */
#work-for {
    text-align: center;
    font-size: 70px; 
    margin-top: 20px; 
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#work-for-words {
    display: inline-block;
    border-right: 2px solid transparent;
    animation: blink 0.75s step-end infinite;
}
.site-title,
.tagline,
.intro-text,
.grid-container {
    opacity: 0; /* Initially hide */
    transition: opacity 1s ease-in-out; 
}
body.loaded .site-title,
body.loaded .tagline,
body.loaded .intro-text,
body.loaded .grid-container,
body.loaded #work-for,
body.loaded #main-footer {
    opacity: 1; /* Show content */
}

/* Blinking cursor animation */
@keyframes blink {
    from, to {
        border-color: transparent; 
    }
    50% {
        border-color: white;
    }
}


/* Responsive styles */
@media (max-width: 768px) {
    .site-title {
        font-size: 28px;
    }

    .grid-item {
        display: block;
        margin: 10px auto;
    }
}
